@model IEnumerable<acme.Models.ImportedOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>
<div><canvas id="lineChart" width="400" height="100"></canvas></div>

@{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["Chart"]; }

@section Scripts {
   @*<script src="/lib/Chart.js/dist/Chart.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        @Html.Raw(chart.CreateChartCode("lineChart"));
    </script>
}
<div class="col-xl-12 col-md-12 col-sm-12">
    <div class="card User-Activity">
        <div class="card-header">
            <h5>Orders</h5>
            <div>

            </div>
            <div class="card-header-right">
                <a asp-action="Index"><i class="feather icon-x"></i></a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order #
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Shipping
                    </th>

                    <th>
                        Subtotal
                    </th>
                    <th>
                        Shipping Costs
                    </th>
                    <th>
                        Tax
                    </th>
                    <th>
                        Total
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippingMethod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippingHandling)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xl-6 col-md-8 col-sm-12">
        <div class="card User-Activity">
            <div class="card-header">
                <h5>Import Order</h5>
                <div>

                </div>
                <div class="card-header-right">
                    <a asp-action="Index"><i class="feather icon-x"></i></a>
                </div>
            </div>
            <div class="card-block pb-0">
                <h3>Upload the Order PDF File</h3>
                <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="file">Choose a PDF file to upload:</label>
                        <input type="file" name="file" id="file" accept=".pdf" />
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <input type="submit" class="btn btn-primary" value="Upload" />

                    </div>
                </form>
            </div>
        </div>
    </div>
